@font-face {
    font-family: 'Poppins Regular';
    src: url(./fonts/Poppins/Poppins-Regular.ttf) format('trutype');
}

:root {
    --clr-white: #e6e4e4;
    --clr-black: #040000;
    --clr-accent: rgb(231, 163, 36);

    --border-radius: 0px 10px 10px 10px;

    font-weight: 400;
    font-size: 1rem;
}

body {
    height: 90vh;
    background-color: var(--clr-white);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.highlight {
    color: var(--clr-accent);
    text-decoration: underline;
    font-weight: 700;
}

header {
    outline-color: var(--clr-black);
    outline: 1px;
    outline-offset: 80px;
}

section {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

.rounded-accent {
    border-radius: var(--border-radius);
}

.burger-icon path {
    stroke: black;
    fill: black;
}

.tall-image {
    max-width: 200px;
    width: min(200px, 30vw);
    height: 420px;
    object-fit: cover;
    filter: grayscale(85%);
    z-index: 10;

    transition: all 150ms ease-in;
}

.tall-image:nth-of-type(1) {
    filter: grayscale(100%);
}

.tall-image:hover {
    filter: none;
    scale: 1.1;
}

.letter-spacing-2 {
    letter-spacing: 0.15rem;
}

.section-header {
    padding-left: 1rem;
    z-index: 1;
    background-color: var(--clr-white);
    display: block;
    font-size: 2rem;
}

.section-img {
    height: 10px;
    border-radius: var(--border-radius);
    margin: -1px;
}

.max-height {
    max-height: 600px;
}

.btn-brand {
    background-color: var(--clr-white);
    border-color: var(--clr-black);
    border-radius: 30px;
    color: var(--clr-dark);
    padding: 0.7rem;
    margin-block: 1rem;

    transition: all 150ms ease-in;
}

.btn-brand:hover {
    background: var(--clr-black);
    color: var(--clr-white);
}

.badge-outline {
    border: 3px solid var(--clr-black);
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 30px;
    margin-block: 5rem !important;
    font-size: 0.7rem;
    font-weight: 700;
    position: relative;
    transition: all 300ms ease-in;

    overflow: hidden;
}

.badge-outline:hover {
    color: var(--clr-white);
}

.badge-outline::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--clr-black);
    border-radius: 30px;
    border: 3px solid var(--clr-black);
    font-size: 0.7rem;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;

    transform-origin: left;
    scale: 0 1;
    transition: all 300ms;
}

.badge-outline:hover::before {
    background-color: var(--clr-black);
    color: var(--clr-white);
    z-index: -1;
    scale: 1;
}